<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>完了画面</title>
</head>
<body>
	<div class="container">
      	<div class="row">
			<h1>購入しました</h1>
			<%= link_to "トップページへ戻る" , products_path %>
		</div>
	</div>

</body>
</html>
