<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="guide.css">
	<title>初めての方はこちら</title>
</head>
<body>
	  <%= render partial: 'products/header' %>
<div class="main clearfix">
    <div class="main-content">
		<div class="container">
			<div class="row">
				<h1>はじめてガイド</h1>
				<div class="ribbon_box">
				  	<h3 class="ribbon18">Campanyって？</h3>
				  	<p class="box-top">＜個人クリエイターとユーザを繋げるサイト＞</p>
					<p>１点ものが欲しい、オリジナリティ溢れる作品と出会いたい・・・</p>
					<p>コミケやデザフェスとっても気になるけど人混みが苦手、時間がないなど</p>
					<p>自分好みなクリエイターと簡単に出会えるだけでなく、気に入った商品を購入することも可能なサイトです。</p>
				</div>
				<div class="ribbon_box">
					<h4>step1.欲しい商品カテゴリや、気になるクリエイターを探す</h4>
					<p class="box-top">クリエイターが出品している商品を探してみよう！</p>
					<p>気になる商品はお気に入りに登録してマイページから確認もできます。(登録ユーザ)</p>
				</div>
				<div class="ribbon_box">
					<h4>step2.ショッピングカートに商品を追加</h4>
					<p class="box-top">欲しい商品が見つかったらカートに追加するボタンをクリック！</p>
					<p>忙しくて時間がないときも、24時間好きな時間にお買い求め頂けます！</p>
				</div>
				<div class="ribbon_box">
					<h4>step3.購入ボタンをクリック！</h4>
					<p class="box-top">ショッピングが終わり、購入したい商品をカゴに入れたら、購入ボタンをクリック！</p>
					<p>商品の発送状況はマイページからご確認頂けます。</p>
					<p>※商品発送日数はクリエイターごとに異なります。(１〜７日以内程度)</p>
				</div>
				<div class="ribbon_box">
					<h3 class="ribbon18">ユーザーだけのおすすめ機能</h3>
					<p class="box-top"><お気にいり機能></p>
					<p>見つけた商品をまとめておける機能です。</p>
					<p>画面にあるお気に入りボタンをクリックするだけで登録完了！</p>
					<p>追加したものはマイページにある＜お気に入り商品一覧＞からご確認することができます。</p>
				</div>
				<div class="ribbon_box">
					<p>ユーザー専用機能は随時追加予定！</p>
					<p>登録はこちら</p>
					<p><button type="button" class="btn btn-warning btn-lg"><%= link_to "新規登録", new_user_session_path %></button></p>
				</div>
			</div>
		</div>
	</div>
</div>
  <%= render partial: 'products/footer' %>
</body>
</html>

<style>
.ribbon_box {    
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    width: 90%;
    background: #f1f1f1;
  }
 .ribbon_box .box-top{
 	margin-top: 20px;
 }
h4 {
padding: 0.25em 0.5em;/*上下 左右の余白*/
margin-left:20px;
color: #494949;/*文字色*/
background: transparent;/*背景透明に*/
border-left: solid 5px #7db4e6;/*左線*/
}
.ribbon18 {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 10px;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: white;
    background: #ff7470;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1);
}
.ribbon18:before {
    position: absolute;
    content: '';
    top: -8px;
    left: -7px;
    border: none;
    height: 38px;
    width: 7px;
    background: #ff7470;
    border-radius: 5px 0 0 5px;
}
.ribbon18:after {
    position: absolute;
    content: '';
    top: -7px;
    left: -5px;
    border: none;
    height: 7px;
    width: 5px;
    background: #b25552;
    border-radius: 5px 0 0 5px;
}
</style>
