
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body:after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: whitesmoke;
    z-index: -1;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.index{
  width: 90%;
  margin: 0 auto;
}
.header{
  background-color: #68a4d9;
  padding: 5px 0;
}
.header-top{
  width: 100%;
  padding: 20px 0 10px 0;
  margin: 0;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  font-size: 60px;
  color:whitesmoke;
}

.nav-list{
  text-align: center;
  vertical-align: middle;
  padding: 10px 0;
  margin: 0 auto;

}
.nav-list-item {
  list-style: none;
  margin: 0 20px;
  display: inline-block;
  border-top: solid 2px lightcyan;
  border-bottom: solid 2px lightcyan;
}

.nav-list-item a{
  color:whitesmoke;
}

.header-bottom{
  width:85%;
  text-align: right;
}
.square_btn a{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #2b65d9;/*ボタン色*/
  color: #FFF;
  border-radius: 3px;
}

.square_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #2b65d9;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.theTarget{
    width:100%;
    height:400px;
}

.main {
  font-family: 'メイリオ', Meiryo,'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','ヒラギノ角ゴシック','Hiragino Sans','Arial','Arial Black',sans-serif;
}
.main-content {
  width: 100%;
  float: left;
  margin: 0 30px;
}
.product-box{
  width: 25%;
  float: left;
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  height:300px;
  border-top: solid 2px #fff;
  background-color:#68a4d9;
}

.footer p{
  padding-top:10px;
  margin:0;
  color:whitesmoke;
}

.footer-nav{
  width:80%;
  margin: 0 auto;
}

.footer-nav-list{
  text-align: left;
  vertical-align: middle;
  padding: 10px 0;
  margin: 0 auto;
}

.footer-nav-item{
  list-style: none;
  margin-right:20px;
  display: inline-block;
}

.footer-nav-item a{
  color:whitesmoke;
}

.footer-text{
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Segoe Script','Bradley Hand',sans-serif;
  font-size: 30px;
  color:#68a4d9;
}

/*ショッピングカートボタンの吹き出し*/

.balloonoya {
  position   : relative;             /* 指定した分だけ相対的に移動 */
  cursor   : pointer;                /* カーソルをポインターで表示 */
}
.balloon1 {
  display: none;                     /* 要素を非表示 */
}
.balloon {
  text-align: center;
  position: absolute;                   /* 親要素を基準 */
  display: inline;                      /* 要素をインラインとして表示 */
  padding: 2px;                         /* テキストの前後の余白 */
  background-color: #6666ff;       /* 背景色（透明度） */
  width:180px;                          /* 吹き出し全体の幅 */
  left : 35%;                           /* 表示位置 */
  bottom : 100%;                        /* 表示位置 */
  margin-bottom : 12px;                 /* 表示位置 */
  font-size: 80%;                       /* 文字サイズ */
}
.balloon:after{
  border-top: 12px solid #6666ff;    /* 吹き出し口の高さ・色 */
  border-left: 10px solid transparent;    /* 吹き出し口の幅１／２ */
  border-right: 10px solid transparent;   /* 吹き出し口の幅１／２ */
  bottom: -12px;                          /* 吹き出し口の位置調整 */
  left : 5%;                              /* 吹き出し口の横位置 */
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
}



